@font-face {font-family: 'DeterminationMono'; src: url('DTM.ttf') format('truetype'); background-color:black;
		   }
body {
	font-family:'DeterminationMono'; color:#006eff; font-size:25px;
	background-image: url("img/galaxy.gif"); background-size: 100%;
	background-repeat:repeat;
	margin:0; cursor: url('img/cursor.png'),auto;
}

div.main {
	background-color:black;
	width:1000px; margin:auto;
	border:2px solid #006eff;
}

div.header {
	background-color:#006eff; color:black;
	font-size:58px;
	margin: 10px 0;
}

p {margin: 10px;}

.flex {display:flex;}

img {margin:0 20px;	width:60%;}

.tole {height:250px; width:250px;}

.will {width:265px; height:265px;}

a {text-decoration:none; color:#ffd900;}

a:hover {text-decoration: underline; cursor: url('img/cursor2.png'),auto;}

